.bot {
  bottom: 0;
  right: 0;
  position: fixed;
  width: 350px;
}

.btn {
  font-size: 20px;
  float: right;
  width: 100%;
  padding: 8px;
  color: rgb(183, 0, 255);
  background-color: rgb(183, 0, 255);
}
